@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');
* {
  margin: 0px;
  padding: 0px;
}

html, body, #view, #wrapper {
  width: 100%;
  height: 100%;
}

body, #view, #wrapper {
  position: absolute;
  top: 0px;
  font-family: 'Lato', sans-serif !important;
}

#wrapper {
  width: 100%;
}

#left-sidebar {
  width: 220px;
  height: 100%;
  position: absolute;
  background-color: #4d394b;
  color: #AB9BA9;
  font-weight: 200;
  box-sizing: border-box;
  padding: 0px 0px;
}

.add-icon, #notifications-icon {
  float: right;
}

#team-name {
  font-size: 18px;
  color: white;
  font-weight: 600;
}
#team-name:hover {
  cursor: pointer;
}
div.dropdown{
  padding: 0px !important;
  margin: 0px !important;

}
.overflow-text {
  overflow: hidden;
  white-space: nowrap;
}

#main-content {
  margin-left: 220px;
  min-width: 540px;
  height: 100%;
}

#top-bar {
  border-bottom: 1px dotted gray;
  padding: 12px 0px 20px 15px;
  height: 60px;
  box-sizing: border-box;
}

#top-bar div {
  display: inline-block;
}

#channel-info {
  padding: 48px 16px 16px;
}

#channel-info h4 {
  color: #4c9689;
  font-weight: 500;
  font-size: 2em;
}

#channel-info p {
  font-size: 1.2em;
}

.timeline-divider {
  text-align: center;

}
.timeline-label{
  border-radius: 27px;
  padding: 2px 11px;
  background-color: white;
  z-index: 1000;
}
.timeline-label-fixed{
  position: fixed;
  top: 60px;
  transform: translateY(-50%) translateX(-50%);
}

.post{
  /*border-top: 1px solid lightgray;*/
  padding: 4px 26px;
}

.post:hover {
  background-color: #f7f7f7;
}

.post p, .post label {
  margin: 0px;
}

.post p.compensate-prof-pic {
  /*margin-left: 40px;*/
  position: relative;
  left: -11px;
}
p.compensate-prof-pic span{
  font-size: .8em;
  /*display: inline-block;
  position: absolute;*/
  float:left;
  left: 20px;
  padding-top: 3px;
  width: 43px;
  margin-right: 6px;
  visibility: hidden;
}
.post:hover p.compensate-prof-pic span{
  visibility: visible;
}
.post:hover i.info-line-star{
  visibility: visible;
}
.post i:hover{
  color:#ffcc00;
  cursor: pointer;
}
.post i.info-line-star{
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 8px;
  visibility: hidden;
}
p.compensate-prof-pic span i{
  margin-top:2px;
  font-weight: 600;
  float: right;
  font-size: 1.15em;
}

.gray-text {
  color: #9e9ea6;
}

.post-time {
  font-weight: 400;
  font-size: .85em;
}

.post-content-container {
  display: inline-block;
  padding-left: 4px;
}

.profile-pic {
  width: 36px;
  height: 36px;
  vertical-align: top;
  border-radius: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0px 8px;
}

.icon:hover {
  cursor: pointer
}

.tiny-icon {
  width: 12px;
  height: 12px;
}

#under-title-strip {
  font-weight: 300;
}

#header-left {
  display: flex;
}

#channel-title-container h3 {
  font-weight: 700;
  font-size: 16px;
  color: black;
  margin: 0px;
}

#header-right {
  float: right;
}

#channel-content {
  height: 100%;
  height: calc(100% - 60px);
}

#channel-details {
  width: 370px;
  height: calc(100% - 60px);
  position: absolute;
  right: 0px;
  border-left: 1px dotted gray;
  box-sizing: border-box;
  color: #6c6b6f !important;
  font-weight: 300;
}

#channel-details.hidden {
  display: none;
}

#channel-container {
  width: calc(100% - 220px);
  position: absolute;
  left: 220px;
  height: calc(100% - 60px);
}
.compact {
  width: calc(100% - 589px) !important;
}
#posts-container{
  height: calc(100% - 70px);
  overflow: scroll;
}

#bottom-bar-container{
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 0px 20px;
}

#add-link {
  /*bottom: -1px !important;*/
  /*left: 7px;*/
  /* background: gray; */
  padding: 11px;
  border-right: 2px solid lightgray;
}

#emojiselector {
  /*bottom: 30px !important;*/
  /*left: 1233px;*/
  /* background: gray; */
  /*padding: 8px;*/
  /*border-right: 2px solid gray;*/
  font-size: 2em;
}

#new-post-bar a, #new-post-bar div {
  display: inline-block;
  /*position: absolute;*/
  /*bottom: 0px;*/
}

#new-post-bar {
  width: 100%;
  /*position: absolute;*/
  /*bottom: 5px;*/
  /*padding: 0px 20px;*/
  border: 3px solid lightgray;
  border-radius: 10px;
  /*padding: 10px 50px;*/
  /*margin-bottom: 20px;*/
  /*margin-left: 20px;*/
  background-color: white;
}

#notification-bar {
  /*position: absolute;*/
  /*bottom: 5px;*/
  /*left: 30px;*/
  font-size: .9em;
  font-style: italic;
  font-weight: 300
}

#new-post-bar input:focus {
  outline: none;
}

#new-post-bar input {
  border: none;
}

#search-box {}

#search-box input[type='text']{
  width: 83%;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

div[ng-message], .errorMessage {
  color: lightcoral;
  font-size: .9em;
  margin-top: 4px;
  margin-bottom: 10px;
}

.successMessage {
  color: lightgreen;
  font-size: .9em;
  margin-top: 4px;
  margin-bottom: 10px;
}

.disabled {
  background: gray !important;
  color: lightgray !important;
}


/*#container {}*/

#sidebar {
  width: 225px;
  background: #4d394b;
  display: inline-block;
}

#login-box {
  text-align: center;
  display: inline-block;
  /*border: 1px solid black;*/
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  border-radius: .25rem;
  border: 1px solid #E8E8E8;
  width: 635px;
}

#content {
  text-align: center;
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  background: #F9F9F9;
}

#header {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 99;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 420ms cubic-bezier(.165, .84, .44, 1);
  -moz-transition: -moz-transform 420ms cubic-bezier(.165, .84, .44, 1);
  transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
}

#header ul {
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
  float: right;
  line-height: 70px;
}

#header ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#header #slackLogo {
  display: inline-block;
  margin: 25px 0px 0px 25px
}

.btn-grn {
  background-color: #2AB27B !important;
  color: white;
}

#urlInput {
  width: 70%;
  display: inline-block;
}

.taller {
  height: 50px;
}

#login-form {
  margin: 0px 50px;
}

#details-width-matcher .form-control {
  width: 253px;
  display: inline-block;
  padding-left: 30px;
}

.glyphicon-search {
  margin-right: -25px;
  margin-left: 15px;
}

#details-top-section h3 {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-top: 0px;
  font-weight: 700;
  font-size: 16px;
  color: black;
}

#details-top-section .icon {
  float: right;
  line-height: 65px;
  vertical-align: middle;
  height: 100%;
  width: 13px;
}

#details-top-section {
  height: 65px;
  padding: 24px 12px;
  background: #F7F7F7;
}

.hidden {
  display: none;
}

.panel-heading {
  cursor: pointer;
  height: 65px;
  padding: 25px 15px;
}

.panel-title {
  font-size: 1.3em;
  font-weight: 300;
}

.panel-body {
  font-size: 1.1em;
  font-weight: 300;
  font-style: italic
}

label {
  font-weight: 300;
}

.details-label {
  cursor: pointer;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

.dropdown-menu.pull-right {
  right: 15px;
  left: auto;
  top: 30px;
  padding: 1
}

.overflow_ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.team-name-container {
  display: inline-block;
  width: 146px;
}


.bell-icon {
  padding-left: 10px;
  vertical-align: top;
}

.fa-circle {
  color: #38978d;
  font-size: 9px;
}

.fa-angle-down {
  vertical-align: top;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 900;
  color: #786f76;
}

.fa-angle-down:hover {
  color: #ffffff;
  font-weight: 900;
}

.fa-bell-o {
  vertical-align: top;
  color: #786f76;
  font-weight: 900;
  margin-top: 5px;
}

.fa-bell-o:hover {
  color: #ffffff;
  font-weight: 900;
}

#team-menu {
  padding: 8px 0px 5px 16px
}

#team-menu:hover {
  background-color: #3e313c;
}

.dropdown {
  padding-left: 7px
}

.fa-plus-circle {
  color: #685666;
  font-size: 17px;
}
.add-channels{
  margin-left: 99px;
}
.add-Dm{
  margin-left: 50px;
}

.fa-plus-circle:hover {
  color: #ab9ba9;
  cursor: pointer;
}

.side-nav-section-title {
  padding-left: 14px;
}
.side-nav-section-title:hover{
  color: #ffffe2;
  font-style: bold;
  cursor: pointer;
}

.sidebar-modal-styles .modal-content{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    border-radius: 0 !important
}

#addChannelModal {
  height: 100%;
}

.bell-icon {
  vertical-align: top;
}

#topic {
  /*border: 1px solid #797a7c;*/
  border-radius: 5px;
  padding: 1px 3px;
  width: 70px;
}

a, u {
  text-decoration: none !important;
}

@media screen and (max-width: 1365px) {
  #channel-details {
    width: 315px;
  }
  div.compact{
    width: calc(100% - 534px) !important;

  }
  #details-width-matcher .form-control {
  width: 200px;;
  display: inline-block;
}
}

#modal-exit{
  padding: 14px 16px 5px 16px;
  border-radius: 60px;
  display: inline-block;
  margin-top: 33px;
  margin-right: 83px; 
  height: 76px;
  width: 79px;
  float: right;
}
.grey-escape{
  color: #717274

}
.fa-times{
  font-size: 30px;
}

#modal-exit:hover{
  background-color: #e8e8e8
}

.create-channel-modal{
    padding-top: 96px;
    color: black;
}
.create-channel-content{
  text-align: left;
  margin-left: 8%;
  display: inline-block;
}

.toggle{
  width: 100px !important;
  border-radius: 30px;
  margin-bottom: 10px;
}
.toggle-handle {
  border-radius: 30px;
  padding: 0px 32px;
}
.toggle-on.btn{
  padding-right:50px !important;
}

.fa-hashtag{
  font-size: 12px;
  font-style: oblique;
}
.channel-link{
  list-style-type: none;
  padding-left: 14px;
  width: 90%;
  
}

.channel-link:hover{
  background-color: #3e313c;
  cursor: pointer;
}

#nav-column{
  height: 654px;
  overflow: hidden;
}
