<!DOCTYPE html>
<html lang="en">

<head>
  <title>Find your team</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="header">
      <a href="" id="slackLogo">Smack</a>
      <ul>
        <li><a href="">Product</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Your Teams</a></li>
      </ul>
    </div>
    <div id="content">
      <div id="login-box" class="align-middle drop-shadow">
        <form ng-submit="findTeam()" class="form-horizontal">
          <h2>Sign in to your team</h2>
          <p>Enter your team's <b>Smack URL.</b></p>
          <div id="login-form">
            <input class="form-control taller" id="urlInput" type="text" name="slack-url" placeholder="your-team-url" ng-model="team.url">
            <h3 style="display: inline"><b>.smack.com</b></h3><br>
            <div class="errorMessage">
              {{validationErrors}}
            </div>
            <button type="submit" class="btn btn-default btn-grn btn-lg btn-block taller">Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            <p>Don't have a team yet? <a href="#!/createteam">Create a team</a></p>
          </div>
        </form>
        <!--{{team}}-->
      </div>
    </div>
    <div id="footer"></div>
  </div>
</body>

</html>