<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign into your team</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="header">
      <img src="./assets/img/smackLogo.png" alt="smack logo" class="smackLogo"><h3 class="smackLogoText">Smack</h3>
      <ul>
        <li><a href="">Product</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Support</a></li>
        <li ><a href="" class="yourTeamHeader"><i class="fa fa-th-large" aria-hidden="true"></i> Your Teams</a></li>
      </ul>
    </div>
    <div id="content">
      <div id="login-box" class="align-middle drop-shadow">
        <form ng-submit="invite()">
          <h2>Invite to {{currentTeamURL}}</h2>
          <p>Enter invite <b>email address</b></p>
          <div id="login-form">
            <input class="form-control taller" type="text" name="email" placeholder="you@example.com" ng-model="invite.email"><br>
            <div class="errorMessage">
              {{validationErrors}}
            </div>
            <div class="successMessage">
              {{successMessages.success}} {{successMessages.message}} {{successMessages.persona}}
            </div>
            <button type="submit" class="btn btn-default btn-grn btn-lg btn-block taller">Invite</button><br>
          </div>
          {{currentTeamURL}}
        </form>
      </div>
    </div>
    <div id="footer"></div>
  </div>



</body>

</html>