<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <div class="header"></div>
        <div class="content">
            <div class="login-box">
                <h2>Sign in to your team</h2>
                <p>Enter your team's <b>Slack URL.</b></p>
                <input type="text" name="slack-url" placeholder="your-team-url"><h3><b>.slack.com</b></h3>
                <button type="submit">Continue </button>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    </body>
</html>