<div id="wrapper">






  <div id="left-sidebar" ng-controller="sidebarController">
    <div id="team-menu" ng-click="openMainMenu()">
      <div>
        <div class="team-name-container">
          <span id="team-name" class="overflow_ellipsis">{{team.name}}</span>
        </div>
        <a href="" class="dropdown"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <a href="#" ng-click="notificationsMenu()" class="bell-icon">
          <i class="fa fa-bell-o" aria-hidden="true" class="bell-icon"></i>
        </a>
      </div>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <span id="availability-username">{{persona.username}}persona_username</span>


    </div>
    <div id="nav-column">
      <div class="side-nav-section">
        <label class="side-nav-section-title">CHANNELS</label>
        <i class="fa fa-plus-circle" data-toggle="modal" data-target="#addChannelModal" aria-hidden="true"></i>
        <ul>
          <li class="channel-link" ng-repeat="channel in team.channels">
            <a href="">{{channel.name}}</a>
          </li>
        </ul>
      </div>
      <div class="side-nav-section">
        <label class="side-nav-section-title">DIRECT MESSAGES</label>
        <img src="" class="add-icon icon" alt="Open a Direct Message">
        <ul>
          <li class="direct-message-link" ng-repeat="dm in team.dms">
            <a href="">
              <img src="" class="availability-icon" alt="Online">
              <span ng-repeat="member in dm.members">
                {{member.username}}
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div id="side-nav-search">
        <img src="" class="icon" alt="Jump to Conversation">
      </div>
    </div>
    <div class="modal fade" id="addChannelModal" role="dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            
          </div>
          <div class="model-content">
            <h3><b>Create a channel</b></h3>
            <p>Channels are where your team communicates. They're best when organized around a topic - #leads, for example.</p>
            fdfdasfdsafjdklsfjads;fkldas;
          </div>
      </div>
    </div>
  </div>






















  <div id="main-content">
    <div id="top-bar">
      <div id="header-left">
        <div id="channel-title-container">
          <h3 id="channel-title">#{{channel.name}}PLACEHOLDER</h3>
          <div id="under-title-strip">
            <img src="./assets/img/startiny.svg" class="tiny-icon" alt="Star this channel">
            <span class="divider">|</span>
            <span class="under-title-link">
              <img src="./assets/img/avatartiny.svg" class="tiny-icon" alt="View member list">
              {{channel.members.length}}
            </span>

            <span class="divider">|</span>
            <span class="under-title-link">
              <img src="./assets/img/push-pintiny.svg" class="tiny-icon" alt="View pinned items">
              {{channel.pinned.length}}
            </span>
            <span class="divider">|</span>
            <span id="topic" ng-if="channel.topic"><a href="#" ng-click="showEditTopic()">{{channel.topic}}</a></span>
            <span id="topic" ng-if="!channel.topic"><a href="#" ng-click="showEditTopic()" style="font-style: italic" ng-mouseenter="show=true" ng-mouseleave="show=false">Add topic<img src="./assets/img/pencil-outline.svg" class="tiny-icon" alt="pencil outline" ng-show="show"></a></span>
          </div>
        </div>
      </div>
      <div id="header-right">
        <div id="left-buttons-container">
          <div class="dropdown">
            <a class=" dropdown-toggle" data-toggle="dropdown"><img src="./assets/img/settings.svg" class="icon" alt="Settings"></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="">Jump to date ...</a></li>
              <li><a href="">Invite team members to join ...</a></li>
              <li><a href="">View channel details</a></li>
              <li><a href="">Additional options ...</a></li>
              <li class="divider"></li>
              <li><a href="">Notification preferences ...</a></li>
              <li><a href="">Mute {{channel.name}} ...</a></li>
              <li class="divider"></li>
              <li><a href="">Add an app or integration</a></li>
              <li class="divider"></li>
              <li><a href="">Leave {{channel.name}}</a></li>
            </ul>
          </div>
          <img src="./assets/img/sidebar.svg" class="icon" alt="Show Details" ng-click="isChannelDetailsOpen = !isChannelDetailsOpen">
        </div>
        <div id="details-width-matcher">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span><input id="search-bar" type="search" ng-model="searchQuery" class="form-control" placeholder="Search"></input>
          <div id="right-buttons-container">
            <img src="./assets/img/arroba.svg" class="icon" alt="Show Activity">
            <img src="./assets/img/star.svg" class="icon" alt="Show Starred Items">
            <div class="dropdown">
              <a class=" dropdown-toggle" data-toggle="dropdown"><img src="./assets/img/showmore.svg" class="icon dropdown-toggle" alt="More Items"></a>
              <ul class="dropdown-menu pull-right">
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">Your Files</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">All Files</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">Team Directory</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">Help</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">What's New</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="channel-content">
      <!-- switch the conditional once toggling details is done -->
      <div id="posts-container" ng-class="{compact:!showDetails}">
        <div id="channel-info">
          <h4>{{channel.name}}</h4>
          <!--{{channel}}-->
          <p>{{channel.members[0].username}} created this <span ng-if="channel.private">private </span>channel on {{channel.createdAt | date:"MMM d, y"}}. This is the very beginning of the <span class="channel-name">{{channel.name}}</span> <span ng-if="channel.private">private </span>            channel. Purpose:<span class="italic">{{channel.purpose}}</span> (<a href="#" ng-click="editChannelPurpose()">edit</a>)</p>
          <p><a href="#!/{{team.url}}/invite" ng-click="inviteToChannel()">Invite others to this <span ng-if="channel.private">private </span>channel</a></p>
        </div>

        <div class="content-chunk" ng-repeat="item in posts track by $index">
          <!-- the 'posts' array will contain timeline divider objects inserted by the factory as well,
          so in the repeat here we can just put a conditional to check if each item is an actual post or
          a timeline divider. I'm just checking for posts by looking for a content attribute,
          or timeline dividers by their date attribute -->
          <div class="post" ng-if="item.content">
            <!--{{item}}-->
            <!--{{item._persona}}-->
            <img class="profile-pic" src="{{item._persona.profile_pic.file_path || 'https://ca.slack-edge.com/T2Q9DHVCM-U4MGD9BFY-ga4addff983f-48'}}" alt="{{item._persona.username}}" ng-if="!posts[$index - 1]._persona || posts[$index - 1]._persona._id != item._persona._id">
            <div class="post-content-container">
              <label class="post-info-line" ng-if="!posts[$index - 1]._persona || posts[$index - 1]._persona._id != item._persona._id">
                <span class="post-author">{{item._persona.username}}</span>
                <span class="gray-text post-time">{{item.createdAt | date:"h:mm a"}}</span>
              </label>
              <p ng-class="{notification:item.notification, 'compensate-prof-pic':(posts[$index - 1] && posts[$index - 1]._persona._id == item._persona._id)}">{{item.content}}</p>
            </div>
          </div>
          <div class="timeline-divider" ng-if="item.date">
            <!--{{item}}-->
            <label class="timeline-label">{{item.date | date:"MMM d"}}</label>
          </div>
        </div>

        <div id="new-post-bar">
          <!-- will be fixed at the bottom of the container-->
          <form id="search-box" ng-submit="addPost()">
            <a id="add-link" href="#">+</a>
            <input type="text" name="new-post-content" ng-model="newPost.content">
            <a id="emoji selector" class="icon" href="#">:)</a>
          </form>
          <div id="notification-bar">
            PLACEHOLDER is typing...
          </div>
        </div>

      </div>
      <!-- switch the conditional once toggling details is done -->
      <div id="channel-details" ng-class="{hidden:!isChannelDetailsOpen}" ng-init="isChannelDetailsOpen = true">
        <div id="details-top-section" class="details-section">
          <h3>About  #{{channel.name}}</h3>
          <!--<a href="#" ng-click="closeChannelDetails()">(X)</a>-->
          <!--<img class="icon" src="./assets/img/cancel.svg" alt="Channel Details Icon" ng-click="isChannelDetailsOpen = false">-->
          <button type="button" class="close" aria-label="Close" ng-click="isChannelDetailsOpen = false"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"></a>
                <img class="icon" src="./assets/img/information.svg" alt="Channel Details Icon">
                <label class="details-label">Channel Details</label>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"></a>
                <img class="icon" src="./assets/img/push-pin.svg" alt="Pinned Items Icon">
                <label class="details-label">Pinned Items</label>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"></a>
                <img class="icon" src="./assets/img/avatar.svg" alt="Members Icon">
                <label class="details-label">{{channel.members.length}} Members</label>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"></a>
                <img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">
                <label class="details-label">Shared Files</label>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5"></a>
                <img class="icon" src="./assets/img/notification.svg" alt="Notifications Icon">
                <label class="details-label">Notification Preferences</label>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>