<div id="wrapper">

  <div id="left-sidebar">
    <div id="team-menu" ng-click="openMainMenu()">
      <div>
        <span id="team-name">{{team.name}}Team Name</span>
        <a href="#" ng-click="notificationsMenu()">
          <img src="" id="notifications-icon" class="icon" alt="Notifications icon">
        </a>
      </div>
      <span class="availability-icon">0</span>
      <span id="availability-username">{{persona.username}}persona_username</span>


    </div>
    <div id="nav-column">
      <div class="side-nav-section">
        <label class="side-nav-section-title">CHANNELS</label>
        <img src="" class="add-icon icon" alt="Create new channel">
        <ul>
          <li class="channel-link" ng-repeat="channel in team.channels">
            <a href="">{{channel.name}}</a>
          </li>
        </ul>
      </div>
      <div class="side-nav-section">
        <label class="side-nav-section-title">DIRECT MESSAGES</label>
        <img src="" class="add-icon icon" alt="Open a Direct Message">
        <ul>
          <li class="direct-message-link" ng-repeat="dm in team.dms">
            <a href="">
              <img src="" class="availability-icon" alt="Online">
              <span ng-repeat="member in dm.members">
                {{member.username}}
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div id="side-nav-search">
        <img src="" class="icon" alt="Jump to Conversation">
      </div>

    </div>
  </div>

  <div id="main-content">
    <div id="top-bar">
      <div id="header-left">
        <div id="channel-title-container">
          <h3 id="channel-title">#{{channel.name}}PLACEHOLDER</h3>
          <div id="under-title-strip">
            <img src="" class="tiny-icon" alt="Star this channel">
            <span class="divider">|</span>
            <span class="under-title-link">
              <img src="" class="tiny-icon" alt="View member list">
              {{channel.members.length}}
            </span>

            <span class="divider">|</span>
            <span class="under-title-link">
              <img src="" class="tiny-icon" alt="View pinned items">
              {{channel.pinned.length}}
            </span>
            <span class="divider">|</span>
            <span id="topic" ng-if="channel.topic"><a href="#" ng-click="showEditTopic()">{{channel.topic}}</a></span>
            <span id="topic" ng-if="!channel.topic"><a href="#" ng-click="showEditTopic()">Add topic</a></span>
          </div>
        </div>
      </div>
      <div id="header-right">
        <div id="left-buttons-container">
          <img src="./assets/img/settings.svg" class="icon" alt="Settings">
          <img src="./assets/img/sidebar.svg" class="icon" alt="Show Details" ng-click="isChannelDetailsOpen = !isChannelDetailsOpen">
        </div>
        <div id="details-width-matcher">
          <input id="search-bar" type="search" ng-model="searchQeury" class="form-control">
          <div id="right-buttons-container">
            <img src="./assets/img/arroba.svg" class="icon" alt="Show Activity">
            <img src="./assets/img/star.svg" class="icon" alt="Show Starred Items">
            <img src="./assets/img/showmore.svg" class="icon" alt="More Items">
          </div>
        </div>
      </div>
    </div>
    <div id="channel-content">
      <!-- switch the conditional once toggling details is done -->
      <div id="posts-container" ng-class="{compact:!showDetails}">
        <div id="channel-info">
          <h4>{{channel.name}}</h4>
          <p>{{channel.members[0].username}} created this <span ng-if="channel.private">private </span>channel on {{channel.createdAt}}
            <!-- Need to format date-->. This is the very beginning of the <span class="channel-name">{{channel.name}}</span> <span ng-if="channel.private">private </span>            channel. Purpose:<span class="italic">{{channel.purpose}}</span> (<a href="#" ng-click="editChannelPurpose()">edit</a>)</p>
          <p><a href="#" ng-click="inviteToChannel()">Invite others to this <span ng-if="channel.private">private </span>channel</a></p>
        </div>

        <div class="content-chunk" ng-repeat="item in posts | filter:searchQuery">
          <!-- the 'posts' array will contain timeline divider objects inserted by the factory as well,
          so in the repeat here we can just put a conditional to check if each item is an actual post or
          a timeline divider. I'm just checking for posts by looking for a content attribute,
          or timeline dividers by their date attribute -->
          <div class="post" ng-if="item.content">
            <img class="profile-pic" src="{{item._persona.profile_pic.file_path}}" alt="{{item._persona.username}}">
            <div class="post-content-container">
              <label class="post-info-line">
                <span class="post-author">{{item._persona.username}}</span>
                {{item.createdAt}} <!-- Need to format date-->
              </label>
              <p ng-class="{notification:item.notification}">{{item.content}}</p>
            </div>
          </div>
          <div class="timeline-divider" ng-if="item.date">
            <label class="timeline-label">{{item.date}}</label>
            <!-- Need to format date-->
          </div>
        </div>

        <div id="new-post-bar">
          <!-- will be fixed at the bottom of the container-->
          <form id="search-box" ng-submit="addPost()">
            <a id="add-link" href="#">+</a>
            <input type="text" name="new-post-content" ng-model="newPost.content">
            <a id="emoji selector" class="icon" href="#">:)</a>
          </form>
          <div id="notification-bar">
            PLACEHOLDER is typing...
          </div>
        </div>

      </div>
      <!-- switch the conditional once toggling details is done -->
      <div id="channel-details" ng-class="{hidden:!isChannelDetailsOpen}" ng-init="isChannelDetailsOpen = true">
        <div id="details-top-section" class="details-section">
          <h3>About {{channel.name}}</h3>
          <!--<a href="#" ng-click="closeChannelDetails()">(X)</a>-->
          <img class="icon" src="./assets/img/cancel.svg" alt="Channel Details Icon" ng-click="isChannelDetailsOpen = false">
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"></a>
                <img class="icon" src="./assets/img/information.svg" alt="Channel Details Icon">
                <label class="details-label">Channel Details</label>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"></a>
                <img class="icon" src="./assets/img/push-pin.svg" alt="Pinned Items Icon">
                <label class="details-label">Pinned Items</label>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"></a>
                <img class="icon" src="./assets/img/avatar.svg" alt="Members Icon">
                <label class="details-label">{{channel.members.length}} Members</label>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"></a>
                <img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">
                <label class="details-label">Shared Files</label>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5"></a>
                <img class="icon" src="./assets/img/notification.svg" alt="Notifications Icon">
                <label class="details-label">Notification Preferences</label>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>