<div id="wrapper">






  <div id="left-sidebar">
    <div id="team-menu">
      <div>
        <div class="team-name-container dropdown">
          <a class=" dropdown-toggle" data-toggle="dropdown"><span id="team-name" class="overflow_ellipsis">{{team.name}}</span></a>
          <ul class="dropdown-menu pull-left">
            <li><a href="">avatar and name</a></li>
            <li><a href="">Set a status</a></li>
            <li><a href="">Profile & account</a></li>
            <li><a href="">Preferences</a></li>
            <li><a href="">Set yourself to <b>away</b></a></li>
            <li><a href="">Help and feedback</a></li>
            <li class="divider"></li>
            <li><a href="">Channel avatar and name</a></li>
            <li><a href="#!/{{currentTeamURL}}/invite">Invite people to <b>{{team.name}}</b></a></li>
            <li><a href="">Apps & integrations</a></li>
            <li><a href="">Customize Smack</a></li>
            <li><a href="">Statistics</a></li>
            <li><a href="" ng-click="logOut()">Sign out of <b>{{team.name}}</b></a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="changeTeam()">Switch to <b>another team name{{}}</b></a></li>
            <li><a href="">Sign into another team ...</a></li>
            <li class="divider"></li>
            <li><a href="">Open the Smack App <img src="./assets/img/diagonal-arrow.svg" class="tiny-icon" alt="View pinned items"></a></li>
          </ul>
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        <a href="" ng-click="notificationsMenu()" class="bell-icon">
          <i class="fa fa-bell-o" aria-hidden="true" class="bell-icon"></i>
        </a>
      </div>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <span id="availability-username">{{persona.username}}</span>
    </div>
    <div id="nav-column">
      <div class="side-nav-section">
        <label class="side-nav-section-title" data-toggle="modal" data-target="#filterChannelModal">CHANNELS</label>
        <i class="fa fa-plus-circle add-channels" data-toggle="modal" data-target="#addChannelModal" aria-hidden="true"></i>
        <ul>
          <li class="channel-link overflow_ellipsis" ng-repeat="channel in team.channels" ng-click="changeChannel(channel._id)">
            <i class="fa fa-hashtag" aria-hidden="true"></i> # {{channel.name}}
          </li>
        </ul>
      </div>
      <div class="side-nav-section">
        <label class="side-nav-section-title">DIRECT MESSAGES</label>
        <i class="fa fa-plus-circle add-Dm" data-toggle="modal" data-target="#addDmModal" aria-hidden="true"></i>
        <ul>
          <li class="direct-message-link" ng-repeat="dm in team.dms">
            <a href="">
              <img src="" class="availability-icon" alt="Online">
              <span ng-repeat="member in dm.members">
                {{member.username}}
              </span>
            </a>
          </li>
        </ul>
      </div>
      <!--<div id="side-nav-search">
        <img src="" class="icon" alt="Jump to Conversation">
      </div>-->
    </div>
    <!--Add Channel Modal-->
    <div class="modal fade sidebar-modal-styles" id="addChannelModal" role="dialog">
      <div class="modal-content">
        <div id="modal-exit" data-dismiss="modal">
          <i class="fa fa-times grey-escape" aria-hidden="true"></i><br>
          <span class="grey-escape">esc</span>
        </div>
        <div class="model-content create-channel-modal">
          <div class="create-channel-content">
            <h1><b>Create a<span>{{publicOrPrivate}}</span> channel</b></h1>
            <p>Channels are where your team communicates. They're best when organized around a topic - #leads, for example.</p>
            <form name="newChannelForm" ng-submit="addChannel(channelObj)">

              <input type="checkbox" id="channel-option" data-toggle="toggle" data-onstyle="warning" data-offstyle="success" class="channel-toggle">
              <span>{{publicOrPrivateDesription}}</span>
              <input type="text" ng-model="channelObj.teamName" class="form-control " placeholder="e.g. leads" min-length="4" required>
              <p>Names must be lowercase, without spaces or periods, and shorter than 22 characters</p>
              <label>Purpose</label><br>
              <input type="text" ng-model="channelObj.purpose" class="form-control" min-length="4" required>
              <p>What's this channel about?</p>
              <button type="submit" ng-disabled="newChannelForm.$pristine || newChannelForm.$invalid" class="btn btn-default btn-grn btn-lg btn-block taller">Create Channel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Filter Channel Model-->
    <div class="modal fade sidebar-modal-styles" id="filterChannelModal" role="dialog">
      <div class="modal-content">
        <div id="modal-exit" data-dismiss="modal">
          <i class="fa fa-times grey-escape" aria-hidden="true"></i><br>
          <span class="grey-escape">esc</span>
        </div>
        <div class="model-content create-channel-modal">
          <div class="create-channel-content">
            <h1 id="browse-header" <b>Browse all Channels</b>
            </h1>
            <button ng-click="goToNewChannel()" class="btn btn-default btn-grn new-channel-button">New Channel</button>
            <input type="text" placeholder="Search channels" class="form-control" ng-model="browseChannels">

            <p>Channels you can join (though some are private!)</p>
            <div id="overfill-handler">
              <table class="table table-striped browse-channels-table">
                <tr ng-repeat="channel in team.channels | filter : browseChannels" class="browse-channels-table">
                  <td class="overflow_ellipsis hide-table">
                    <h3>{{channel.name}}</h3>
                    <span>Createed on: {{channel.createdAt | date:"MMM d, y"}} </span><button class="btn btn-default btn-info channel-button"
                      ng-click="changeChannel(channel._id, true)">Go to Channel</button>
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>





  </div>









  <div class="spinnerContainer" ng-hide="loaded">
    <!--<div class="spinner" ng-hide="loaded"></div><br>-->
    <div ng-hide="loaded">
      <p class="spinnerText" ng-hide="loaded">Talk Some Smack</p><img src="./assets/img/loading (2).gif" alt="logo" class="spinnerLogo"></div>
  </div>

  <div id="main-content" ng-cloak="" ng-show="loaded">
    <div id="top-bar">
      <div id="header-left">
        <div id="channel-title-container">
          <h3 id="channel-title">#{{channel.name}}</h3>
          <div id="under-title-strip">
            <i class="info-line-star fa fa-star-o"></i>
            <span class="divider">|</span>
            <span class="under-title-link">
              <i class="fa fa-user-o" aria-hidden="true"> {{channel.members.length}}</i>
              
            </span>

            <span class="divider">|</span>
            <span class="under-title-link">
              <i class="fa fa-thumb-tack" aria-hidden="true"> 0{{channel.pinned.length}}</i>
            </span>
            <span class="divider">|</span>
            <span id="topic" ng-if="channel.topic"><a href="" ng-click="showEditTopic()">{{channel.topic}}</a></span>
            <span id="topic" ng-if="!channel.topic"><a href="" ng-click="showEditTopic()" style="font-style: italic" ng-mouseenter="show=true" ng-mouseleave="show=false">Add a topic <img src="./assets/img/pencil-outline.svg" class="tiny-icon" alt="pencil outline" ng-show="show"></a></span>
          </div>
        </div>
      </div>
      <div id="header-right">
        <div id="left-buttons-container">
          <div class="dropdown">
            <a class=" dropdown-toggle" data-toggle="dropdown"><img src="./assets/img/settings.svg" class="icon" alt="Settings"></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="">Jump to date ...</a></li>
              <li><a href="">Invite team members to join ...</a></li>
              <li><a href="">View channel details</a></li>
              <li><a href="">Additional options ...</a></li>
              <li class="divider"></li>
              <li><a href="">Notification preferences ...</a></li>
              <li><a href="">Mute {{channel.name}} ...</a></li>
              <li class="divider"></li>
              <li><a href="">Add an app or integration</a></li>
              <li class="divider"></li>
              <li><a href="">Leave {{channel.name}}</a></li>
            </ul>
          </div>
          <img src="./assets/img/sidebar.svg" class="icon" alt="Show Details" ng-click="isChannelDetailsOpen = !isChannelDetailsOpen">
        </div>
        <div id="details-width-matcher">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span><input id="search-bar" type="search" ng-model="searchQuery"
            class="form-control" placeholder="Search"></input>
          <div id="right-buttons-container">
            <img src="./assets/img/arroba.svg" class="icon" alt="Show Activity">
            <img src="./assets/img/star.svg" class="icon" alt="Show Starred Items">
            <div class="dropdown">
              <a class=" dropdown-toggle" data-toggle="dropdown"><img src="./assets/img/showmore.svg" class="icon dropdown-toggle" alt="More Items"></a>
              <ul class="dropdown-menu pull-right">
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">Your Files</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">All Files</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">Team Directory</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">Help</li>
                <li><img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">What's New</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>





    <div id="channel-content">
      <!-- switch the conditional once toggling details is done -->
      <div id="channel-container" ng-class="{compact:isChannelDetailsOpen}">
        <div id="posts-container">
          <div id="channel-info">
            <h4>{{channel.name}}</h4>
            <!--{{channel}}-->
            <p>{{channel.members[0].username}} created this <span ng-if="channel.private">private </span>channel on {{channel.createdAt
              | date:"MMM d, y"}}. This is the very beginning of the <span class="channel-name">{{channel.name}}</span>
              <span ng-if="channel.private">private </span> channel. Purpose:<span class="italic">{{channel.purpose}}</span>              (<a href="#" ng-click="editChannelPurpose()">edit</a>)</p>
            <p><a href="" ng-click="inviteToChannel()">Invite others to this <span ng-if="channel.private">private </span>channel</a></p>
          </div>

          <div class="content-chunk" ng-repeat="item in posts track by $index">
            <!-- the 'posts' array will contain timeline divider objects inserted by the factory as well,
            so in the repeat here we can just put a conditional to check if each item is an actual post or
            a timeline divider. I'm just checking for posts by looking for a content attribute,
            or timeline dividers by their date attribute -->
            <div class="post" ng-if="item.content">
              <!--{{item}}-->
              <!--{{item._persona}}-->
              <img class="profile-pic" src="{{item._persona.profile_pic.file_path || 'https://ca.slack-edge.com/T2Q9DHVCM-U4MGD9BFY-ga4addff983f-48'}}"
                alt="{{item._persona.username}}" ng-if="!posts[$index - 1]._persona || posts[$index - 1]._persona._id != item._persona._id">
              <div class="post-content-container">
                <label class="post-info-line" ng-if="!posts[$index - 1]._persona || posts[$index - 1]._persona._id != item._persona._id">
                  <span class="post-author">{{item._persona.username}}</span>
                  <span class="gray-text post-time">
                    {{item.createdAt | date:"h:mm a"}}
                    <i class="info-line-star fa fa-star-o"></i>
                  </span>
                </label>
                <p ng-class="{notification:item.notification, 'compensate-prof-pic':(posts[$index - 1] && posts[$index - 1]._persona._id == item._persona._id)}">
                  <span class="gray-text post-time" ng-if="(posts[$index - 1] && posts[$index - 1]._persona._id == item._persona._id)">{{item.createdAt | date:"h:mm"}} <i class="fa fa-star-o"></i></span>                  {{item.content}}
                </p>
              </div>
            </div>
            <div class="timeline-divider" ng-if="item.date">
              <!--{{item}}-->
              <label class="timeline-label">{{item.date | date:"MMM d"}}</label>
            </div>
          </div>

          <div id="posts-bottom-spacer" class="content-chunk"></div>

        </div>
        <div id="bottom-bar-container">
          <div id="new-post-bar">
            <!-- will be fixed at the bottom of the container-->
            <form id="new-post-form" name="postForm">
              <a id="add-link" href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
               <input id="new-post-input"  data-emojiable="true" data-emoji-input="unicode"  type="text" name="new-post-content"  placeholder="Message {{team.name}}"></input>
              <!--<a id="emojiselector" class="icon" href=""><i class="fa fa-smile-o" aria-hidden="true"></i></a>-->
              <!-- <div class="emojiSubmit"><button id="new-post-submit-button" type="submit" >Click if enter doesnt submit</button></div> -->
            </form>
          </div>
          <div id="notification-bar">
             {{persona.username}} is typing...  
          </div>
        </div>
      </div>
      <!-- switch the conditional once toggling details is done -->
      <div id="channel-details" ng-class="{hidden:!isChannelDetailsOpen}" ng-init="isChannelDetailsOpen = true">
        <div id="details-top-section" class="details-section">
          <h3>About #{{channel.name}}</h3>
          <!--<a href="#" ng-click="closeChannelDetails()">(X)</a>-->
          <!--<img class="icon" src="./assets/img/cancel.svg" alt="Channel Details Icon" ng-click="isChannelDetailsOpen = false">-->
          <button type="button" class="close" aria-label="Close" ng-click="isChannelDetailsOpen = false"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"></a>
                <img class="icon" src="./assets/img/information.svg" alt="Channel Details Icon">
                <label class="details-label">Channel Details</label>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">Purpose {{channel.purpose}} Created by {{}} on {{}}
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"></a>
                <img class="icon" src="./assets/img/push-pin.svg" alt="Pinned Items Icon">
                <label class="details-label">Pinned Items</label>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">No items have been pinned yet! Open the context menu on important messages or files and choose Pin to {{team.channel}}channel
                … to stick them here.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"></a>
                <img class="icon" src="./assets/img/avatar.svg" alt="Members Icon">
                <label class="details-label">{{channel.members.length}} Members</label>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <div ng-repeat="member in channel.members">
                  <img class="profile-pic-channel-details" src="{{member.profile_pic.file_path || 'https://ca.slack-edge.com/T2Q9DHVCM-U4MGD9BFY-ga4addff983f-48'}}"
                    alt="{{item._persona.username}}">
                  <span class="username-channel-details" id="availability-username">{{member.username}}</span>
                  <i class="fa fa-circle circle-channel-details" aria-hidden="true"></i>
                </div>


                <p><a href="" ng-click="inviteToChannel()">Invite others to this <span ng-if="channel.private">private </span>channel</a></p>
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"></a>
                <img class="icon" src="./assets/img/file.svg" alt="Shared Files Icon">
                <label class="details-label">Shared Files</label>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5"></a>
                <img class="icon" src="./assets/img/notification.svg" alt="Notifications Icon">
                <label class="details-label">Notification Preferences</label>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







  <!-- Modal -->
  <div class="modal fade" id="channelInviteModal" tabindex="-1" role="dialog" aria-labelledby="channelInviteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Invite to Channel {{}}</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="inviteToChannelSubmit()">
            <p>Enter a <b>username</b> to invite</p>
            <div class="ui-widget">
              <input class="form-control taller" id="tags" ng-model="invite.username">
            </div>
            <!--<input class="form-control taller" type="hidden" name="email" placeholder="you@example.com" ng-model="channelInvite.email"><br>-->
            <div class="errorMessage">
              {{validationErrors}}
            </div>
            <div class="successMessage">
              {{successMessages.success}} {{successMessages.message}} {{successMessages.persona}}
            </div>
            <button type="submit" class="btn btn-default btn-grn btn-lg btn-block taller">Invite</button><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
